<div class="main-content">
  <main>
    <h2>Rapport</h2>
    <form id="addStudentForm">
      <div class="form-row">
      </div>
      <div class="form-row">
        <select id="rapport" required>
          <option value="">Sélectionner une option</option>
          <option value="Liste des eleves">Liste des eleves</option>
          <option value="Liste des professeurs">Liste des professeurs</option>
          <option value="Liste des utilisateurs">Liste des utilisateurs</option>
        </select>
        <button type="button" class="btn-cancel">Generer format PDF</button>
        <button type="submit" class="btn-save">Generer format Excel</button>
      </div>
    </form>
  </main>
</div>

<script src="/js/Home.js"></script>
