<div class="main-content">
  <main>
    <header class="header">
      <h1>Utilisateur (2)</h1>
      <a routerLink="/base/add-user"> <img src="../icon/plus.png" style="width: 10px;height: 10px" alt=""> Nouveau profeseur</a>
    </header>
    <section class="table-section">
      <table>
        <thead>
        <tr>
          <th>Pseudo</th>
          <th>Date de creation</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>admin</td>
          <td>16/03/2024</td>
          <td>
            <button class="edit-btn">Modifier</button>
            <button class="delete-btn">Supprimer</button>
          </td>
        </tr>
        <tr>
          <td>user2</td>
          <td>13/03/2024</td>
          <td>
            <button class="edit-btn">Modifier</button>
            <button class="delete-btn">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>

</div>
<div id="confirmationModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>ATTENTION !!!</h2>
    </div>
    <div class="modal-body">
      <p>Voulez-vous supprimer ce professeur ?</p>
    </div>
    <div class="modal-footer">
      <button id="confirmYes" class="modal-btn yes-btn">Oui</button>
      <button id="confirmNo" class="modal-btn no-btn">Non</button>
    </div>
  </div>
</div>
<script src="../public/js/Modal.js"></script>
