<body>


<div class="sidebar">
  <div class="logo">
    <img src="/icon/etablissement.png"  style="width: 50px;height: 50px;margin-right: 10px" alt="Mon Etab Logo">
    <h2>Mon Etab</h2>
  </div>
  <ul class="menu">
    <hr>
    <li routerLinkActive="active">
      <a routerLink="/base/home">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-grid-3x2-gap-fill" viewBox="0 0 16 16">
          <path d="M1 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"/>
        </svg> Tableau de bord
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/list-student">
        <img src="/icon/eleve.png" style="width: 30px;height: 30px" alt=""> Élèves
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/list-teacher">
        <img src="/icon/professeur.png" style="width: 30px;height: 30px" alt=""> Professeurs
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/list-user">
        <img src="/icon/user.png" style="width: 30px;height: 30px" alt=""> Utilisateurs
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/setting">
        <img src="/icon/setting.png" style="width: 30px;height: 30px" alt=""> Parametre smtp
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/school">
        <img src="/icon/setting.png" style="width: 30px;height: 30px" alt=""> Parametre ecole
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/base/rapport">
        <img src="/icon/rapport.png" style="width: 30px;height: 30px" alt=""> Rapport
      </a>
    </li>
  </ul>

  <div class="logout">
    <hr>
    <a routerLink="/login"><img src="/icon/logout.png" style="width: 30px;height: 30px" alt=""> Déconnexion</a>
  </div>
</div>

  <router-outlet></router-outlet>
</body>
