<body>
<div class="login-container">
  <div class="login-box">
    <div class="logo-container" style="margin-bottom: 20px">
      <img src="icon/etablissement.png"  style="width: 80px;height: 80px;margin-left: 75px" alt="Mon Etab Logo">
      <h2>Mon Etab</h2>
    </div>

    <form>
      <input type="text" placeholder="Identifiant" required>
      <input type="password" placeholder="Mot de passe" required>
      <!--            <button type="submit">Connexion</button>-->
      <a class="button" (click)="home()" >Connexion</a>
    </form>
  </div>
</div>
<script src="js/Home.js"></script>
</body>
