<div class="main-content">
  <main>
    <header class="header">
      <h1>Élèves (2)</h1>
      <a routerLink="/base/add-student"> <img src="/icon/plus.png" style="width: 10px;height: 10px" alt=""> Nouvel élève</a>
    </header>
    <section class="table-section">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Genre</th>
          <th>Classe</th>
          <th>Matricule</th>
          <th>Age</th>
          <th>Téléphone</th>
          <th>Ville</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>KOFFI</td>
          <td>George</td>
          <td>M</td>
          <td>Tle</td>
          <td>GDJ7GDGD</td>
          <td>25</td>
          <td>0123456789</td>
          <td>Bonoua</td>
          <td>
            <button routerLink="/base/add-student" class="edit-btn">Modifier</button>
            <button class="delete-btn">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>

</div>
